@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  width : 100%;
  height: 100%;
}

#logo {
  position: absolute;
  width: 448px;
  height: 97px;
  left: 110px;
  top: 65px;
  /* background: url(logo); */
}


#title_kor {
  position: absolute;
  width: 321px;
  height: 31px;
  left: 235px;
  top: 80px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  /* 자동 줄바꿈 방지 */
  white-space: nowrap;

  color: #16325F;
}


#title_eng {
  position: absolute;
  width: 232px;
  height: 19px;
  left: 235px;
  top: 120px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  white-space: nowrap;

  color: #A9A9A9;
}


#EU {
  position: absolute;
  width: 151px;
  height: 63px;
  left: 1400px;
  top: 60px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 63px;
  /* identical to box height, or 242% */

  letter-spacing: -0.02em;
  text-transform: capitalize;

  color: #EE7F35;
}


#likelion {
  position: absolute;
  width: 155px;
  height: 63px;
  left: 1635px;
  top: 60px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 63px;
  /* identical to box height, or 242% */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #2D2D2D;
}



.nav_right {
  /* background-color: cornflowerblue; */
  position: absolute;
  width: 430px;
  height: 20px;
  left: 1360px;
  top: 225px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#a {
  /* position: absolute;
  width: 90px;
  height: 19px;
  left: 1401px;
  top: 203px; */

  margin-right: 13px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  letter-spacing: -0.04em;
  white-space: nowrap;

  color: #4B4B4B;
}

#b {
  margin-right: 10px;

  /* position: absolute;
  width: 6px;
  height: 11px;
  left: 1506px;
  top: 201px; */
}

#c {
  /* position: absolute;
  width: 131px;
  height: 20px;
  left: 1525px;
  top: 202px; */

  margin-right: 13px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.04em;

  color: #4B4B4B;
}

#d {
  margin-right: 10px;

  /* position: absolute;
  width: 6px;
  height: 11px;
  left: 1671px;
  top: 201px; */
}

#e {
  /* position: absolute;
  width: 100px;
  height: 20px;
  left: 1690px;
  top: 202px; */

  /* margin-left: 5px; */

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.04em;
  white-space: nowrap;
  
  color: #4B4B4B;
}

#book {
  position: absolute;
  width: 250px;
  height: 31px;
  left: 464px;
  top: 190px;
  
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;

  color: #2D2D2D; 
}

/* .menu {
  background-color: indianred;
  position: absolute;
  width: 280px;
  height: 610px;
  left: 110px;
  top: 280px;
} */


.main {
  /* background-color: aqua; */
  position: absolute;

  width: 1326px;
  height: 610px;
  left: 464px;
  top: 280px;

  display: flex;
  justify-content: space-between;
}

.container {
  /* background-color: brown; */
  position: relative;

  width: 410px;
  height: 610px;
}

.major {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  
  letter-spacing: -0.04em;
  
  color: #2D2D2D;
}

.TwinList {
  margin-top: 20px;
  /* background-color: yellow; */

  display: flex;
  justify-content: space-between;
}

.list {
  /* background-color: cornflowerblue; */

  width: 190px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.block {
  /* background-color: darkmagenta; */
  width: 190px;
  height: 45px;
  display: flex;
  align-items: center;
}

.parent {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 45px;
}

.child {
  /* background-color: pink; */

  position: absolute;

  width: 35px;
  height: 23px;
  margin-left: 147px;
  margin-top: -4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  white-space: nowrap;

  letter-spacing: -0.02em;
  text-transform: uppercase;
  
  color: #2D2D2D;
}

.more {
  margin-top: -1px;
  margin-left: -1px;
}

.moreV {
  margin-top: 1.3px;
}



a {
  text-decoration: none;
  color: #2D2D2D;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  color: #EE7F35;
}

.fot{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;

  position: absolute;
  width: 200px;
  height: 200px;
  left: 1020px;
  top: 500px;
}


.menu {
  position: absolute;
  width: 184px;
  height: 665px;
  left: 110px;
  top: 225px;
}


#btn {
  width: 184px;
  height: 26px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}


#rightV {
  position: absolute;
  left: 170px;
  margin-top: 6px;
}


#line {
  margin-top: 30px;
  margin-bottom: 30px;
}


.sub-item {
  position: relative;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  width: 280px;
  height: 24px;

  color: #2D2D2D;

  text-decoration: none;
  display: block;

  margin-bottom: 20px;
}


.sub-menu {
  margin-bottom: 50px;
}


.menu.item {
  position: relative;
  cursor: pointer;
}


.itme a .dropdown {
  position: absolute;
  transition: 0, 3 ease;
}


.item sub-menu {
  background: #262627;
  display: none;
}
.menu {
  position: absolute;
  width: 184px;
  height: 665px;
  left: 110px;
  top: 225px;
}


#btn {
  width: 184px;
  height: 26px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}


#rightV {
  position: absolute;
  left: 170px;
  margin-top: 6px;
}


#line {
  margin-top: 30px;
  margin-bottom: 30px;
}


.sub-item {
  position: relative;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  width: 280px;
  height: 24px;

  color: #2D2D2D;

  text-decoration: none;
  display: block;

  margin-bottom: 20px;
}


.sub-menu {
  margin-bottom: 50px;
}


.menu.item {
  position: relative;
  cursor: pointer;
}


.itme a .dropdown {
  position: absolute;
  transition: 0, 3 ease;
}


.item sub-menu {
  background: #262627;
  display: none;
}